[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
playwright = "*"
loguru = "*"
aiohttp = {extras = ["speedups"], version = "*"}
beautifulsoup4 = "*"
lxml = "*"
asyncio = "*"
aiofiles = "*"
jsonlines = "*"
tqdm = "*"
structlog = "*"
typed-argument-parser = "*"
toolz = "*"
aiopath = "*"
aiohttp-client-cache = "*"
aiosqlite = "*"
aiosql = "*"
faker = "*"
tortoise-orm = {extras = ["aiosqlite"], version = "*"}
diskcache = "*"
aiocache = "*"
ormar = {extras = ["sqlite"], version = "*"}

[dev-packages]
pxpx = "*"
devtools = {extras = ["pygments"], version = "*"}
pytest = "*"
pytest-asyncio = "*"
litecli = "*"

[requires]
python_version = "3.10"
